<template>

	<div class="container">
		<nav  aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-info">
				<li class="breadcrumb-item" ><a href="/home"><i class="fa fa-home"></i> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list-alt"></i> Categorias de Productos </li>
			</ol>
		</nav>
		<div class="col-md-12 bg-light rounded-lg">

			<h4 style="font-weight: bold;" class="text-black mb-4 mt-4 "><i class="fa fa-list-alt" aria-hidden="true"></i>  &nbsp;Listado de Categorias de Productos</h4>


			<div class="card mb-3">
					<div class="card-header text-white">
						<div class="text-right">
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCategoriaProductoCreate" ><i class="fa fa-plus-circle"></i> Nueva </button>

							<a type="button" class="btn btn-primary" href="categoria-export" ><i class="fa fa-file-excel-o"></i> Exportar Excel</a>
						</div>
					</div>
					<div class="card-body">
						<div class="col-md-12">                    		
							<table class="table table-striped no-footer"  style="width:100%" id="datatable" ref="datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nombre</th>
										<th>Código</th>
										<th>Categoría Padre</th>
										<th>Descripción</th>
										<th>Acciones</th>
									</tr>					
								</thead>
								<tbody>	
									<tr v-for="(categoria, index_array) in categorias_produtos"  >
										<th>{{categoria.id}}</th>
										<th>{{categoria.nombre}}</th>
										<th>{{categoria.codigo}}</th>
										<th>{{(categoria.categoria_padre)?categoria.categoria_padre.nombre:''}}</th>
										<th>{{categoria.descripcion}}</th>
										<th>

											<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCategoriaProductoEdit" v-on:click="editarCategoria(categoria)"><i class="fa fa-edit"></i> </button>
											<button type="button" class="btn btn-danger" v-on:click="eliminarCategoria(categoria.id,index_array)"><i class="fa fa-trash"></i> </button>
										</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script>

	import datatables from 'datatables'

	export default {
		mounted() {
			this.datatableRender();
		},
		created(){
		},
		data: function () {
			return {
				categorias_produtos: this.categorias
			}
		},
		props : ['categorias'],
		methods: {
			datatableRender() {
				$('#datatable').DataTable({
					search: true,
					scrollX:true,
					searchable:true,
					searching: true,
					language: language_datatable,
					autoWidth: true,
				});
			},
			eliminarCategoria: function (id_categoria,index_array) {

				// The view model.
				var vm = this;
				// Pregunto si desea eliminar el registro
				Swal.fire({
					title:'Éstas seguro de eliminar esta Categoria de Producto?',
					text:'',
					icon:'warning',
					showCancelButton: true,
				}).then(function(result) {
					if(result.value){
		        		// Realizo llamada al Backend para que me elimine esta categoria
		        		axios.delete('/categoria-producto/' + id_categoria)
		        		.then(response => {
							// Muestro mensaje de confirmación
							Swal.fire({
								title: response.data['message'],
								text:'',
								icon:'success',
								showCancelButton: false,
							});
						});

						// Elimino el user de mi array para que no se muestra en el Datatable
						vm.categorias_produtos.splice(index_array, 1);
					}
					
				});
			},
			editarCategoria: function (categoria) {
				// Abre Modal de Edición con la información de la Categoria
				Event.$emit('editCategoriaProductoModal', categoria);
			}
		}
	}
	</script>
