<template>
	<div class="container">

		<form method="POST" v-bind:action='"categoria-producto/"+categoria.id' id="form_edit" enctype="multipart/form-data">
			<!-- Modal -->
			<div class="modal fade" id="modalCategoriaProductoEdit" tabindex="-1" role="dialog" aria-labelledby="modalCategoriaProductoEditLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalCategoriaProductoEditLabel"><i class="fa fa-edit"></i> Editar Categoría de Producto</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios edición -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />
							<input type="hidden" name="_method" value="PUT">

							<div class="form-group row">
								<label for="nombre" class="col-md-4 col-form-label text-md-right">Nombre  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="nombre" type="text" required class="form-control" name="nombre" value="" required autocomplete="nombre" autofocus v-bind:value="categoria.nombre">
								</div>
							</div>

							<div class="form-group row">
								<label for="codigo" class="col-md-4 col-form-label text-md-right">Código  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="codigo" type="text" class="form-control" required name="codigo" value="" autocomplete="false" autofocus v-bind:value="categoria.codigo">
								</div>
							</div>

							<div class="form-group row">
								<label for="categoria_padre_id_" class="col-md-4 col-form-label text-md-right">Categoria Padre</label>

								<div class="col-md-6">
									<select id="categoria_padre_id_" type="text" class="form-control sl_2_modal_edit" name="categoria_padre_id" value="" autocomplete="false" autofocus v-bind:value="categoria.categoria_padre_id" >
										<option value="">Seleccione Categorías</option>
										<option v-for="(categoria) in categorias_options" v-bind:value="categoria.id">{{categoria.nombre}}</option>
									</select>
								</div>
							</div>


							<div class="form-group row">
								<label for="descripcion" class="col-md-4 col-form-label text-md-right">Descripción</label>

								<div class="col-md-6">
									<textarea name="descripcion" rows="5" autofocus class="form-control" cols="30" v-bind:value="categoria.descripcion"></textarea>
								</div>
							</div>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Editar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	mounted() {

	},
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			categorias_options: this.categorias,
			categoria: {},
		}
	},
	props : ['categorias'],
	created: function () {
		Event.$on('editCategoriaProductoModal', (categoria) => {
			// Guardo el categoria que voy a editar
			this.categoria = categoria;
			$('#categoria_padre_id_').val(categoria.categoria_padre_id).trigger('change');
		});
	},
	methods: {

	}
}
</script>
