<template>
	<div class="container">
		<nav  aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-info">
				<li class="breadcrumb-item" ><a href="/home"><i class="fa fa-home"></i> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page"><i class="fa fa-user"></i> Usuarios </li>
			</ol>
		</nav>
		<div class="col-md-12 bg-light rounded-lg">
			<h4 style="font-weight: bold;" class="text-black mb-4 mt-4 "><i class="fa fa-user-circle" aria-hidden="true"></i>  &nbsp;Listado de Usuarios</h4>
			<div class="card mb-3">
				<div class="card-header text-white">
					<div class="text-right">
						<a class="btn btn-primary" href="/user-export"  style="font-weight: bold;"><i class="fa fa-file-excel-o"></i>  Exportar Excel</a>
					</div>
				</div>
				<div class="card-body">
					<div class="col-md-12">                    		
						<table class="table table-striped no-footer"  style="width:100%" id="datatable" ref="datatable">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Email</th>
									<th>Fecha Nacimiento</th>
									<th>Foto Perfil</th>
									<th>Acciones</th>
								</tr>					
							</thead>
							<tbody>	
								<tr v-for="(user, index_array) in users_datatable"  >
									<th>{{user.id}}</th>
									<th>{{user.name}}</th>
									<th>{{user.apellido}}</th>
									<th>{{user.email}}</th>
									<th>{{user.fecha_nacimiento}}</th>
									<th><img :src="asset_url_storage+'/'+user.foto_perfil" class="rounded" width="100px" height="100px"></img></th>
									<th>

										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalUser" v-on:click="editarUsuario(user)"><i class="fa fa-edit"></i> </button>
										<button type="button" class="btn btn-danger" v-on:click="eliminarUsuario(user.id,index_array)"><i class="fa fa-trash"></i> </button>
									</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import datatables from 'datatables'

export default {
	mounted() {
		this.datatableRender();
	},
	created(){
	},
	data: function () {
		return {
			users_datatable: this.users
		}
	},
	props : ['users','asset_url_storage'],
	methods: {
		datatableRender() {
			$('#datatable').DataTable({
				search: true,
				scrollX:true,
				searchable:true,
				searching: true,
				language: language_datatable,
				autoWidth: true,
			});
		},
		eliminarUsuario: function (id_user,index_array) {

				// The view model.
				var vm = this;
				// Pregunto si desea eliminar el registro
				Swal.fire({
					title:'Éstas seguro de eliminar este usuario?',
					text:'',
					icon:'warning',
					showCancelButton: true,
				}).then(function(result) {
					if(result.value){
		        		// Realizo llamada al Backend para que me elimine este usuario
		        		axios.delete('/user/' + id_user)
		        		.then(response => {
							// Muestro mensaje de confirmación
							Swal.fire({
								title: response.data['message'],
								text:'',
								icon:'success',
								showCancelButton: false,
							});
						});

						// Elimino el user de mi array para que no se muestra en el Datatable
						vm.users_datatable.splice(index_array, 1);
					}
					
				});
			},
			editarUsuario: function (user) {
				// Abre Modal de Edición Usuarios con la información del usuario a editar
				Event.$emit('showUserModal', user);
			}
		}
	}
	</script>
