<template>
	<div class="container">

		<form method="POST" v-bind:action="'user/'+user.id" id="form" enctype="multipart/form-data">

			<!-- Modal -->
			<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalUserLabel"><i class="fa fa-edit"></i> Editar Usuario</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />
							<input type="hidden" name="_method" value="PUT">

							<div class="form-group row">
								<label class="col-md-12 col-form-label text-md-center">Foto de Perfil</label>
							</div>

							<div class="form-group row">
								<div class="col-md-12 text-center">
									<div class="file-loading">
										<input id="foto_perfil" type="file" class="form-control input_adjundtar_archivo" name="foto_perfil" autocomplete="false" accept="image/*" autofocus  v-on:click="esconderFotoPerfil" >
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="name" class="col-md-4 col-form-label text-md-right">Nombre  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="name" type="text" required class="form-control" name="name" v-bind:value="user.name" required autocomplete="name" autofocus>
								</div>
							</div>


							<div class="form-group row">
								<label for="apellido" class="col-md-4 col-form-label text-md-right">Apellido</label>

								<div class="col-md-6">
									<input id="apellido" type="text" class="form-control" name="apellido" v-bind:value="user.apellido" autocomplete="false" autofocus>
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-md-4 col-form-label text-md-right">E-Mail  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="email" type="email" class="form-control" name="email" v-bind:value="user.email" required autocomplete="email">
								</div>
							</div>

							<div class="form-group row">
								<label for="fecha_nacimiento" class="col-md-4 col-form-label text-md-right">Fecha de Nacimiento  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="fecha_nacimiento" type="text" class="form-control" name="fecha_nacimiento" v-bind:value="user.fecha_nacimiento" required autocomplete="false" autofocus >
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Guardar Cambios</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	mounted() {

	},
	data() {
		return {
			user: {},
			changeFotoPerfil:true,
			csrf_token: $('meta[name="csrf-token"]').attr('content')
		}
	},
	props : ['asset_url_storage'],
	created: function () {
		Event.$on('showUserModal', (user) => {
			// Guardo el user que voy a editar
			this.user = user;
			// Seteo la fecha de nacimiento directamente desde el Plugin para que se visualice correctamente
			$('#fecha_nacimiento').data('daterangepicker').setStartDate(this.user.fecha_nacimiento);
			$('#fecha_nacimiento').data('daterangepicker').setEndDate(this.user.fecha_nacimiento);

					// Imagenes Configuraciones
	            var initialPreviewImage=[];
	            var initialPreviewImageConfig=[];
            	initialPreviewImage.push("<img src='"+this.asset_url_storage+'/'+this.user.foto_perfil+"' width='150px' height='150px' class='file-preview-image' alt='dsa' title=''>");
            	initialPreviewImageConfig.push({  
            		caption: '',
            		width: '150px',
            		url: 'delete-user-image',
            		key: user.id,
            		extra: {id: user.id } ,
				 	initialPreviewShowDelete:false,
            	});

	            $('.input_adjundtar_archivo').fileinput('destroy');

				 // Plugin Fileinput Inicialization
				 $('.input_adjundtar_archivo').fileinput({
				 	initialPreview: initialPreviewImage,
				 	theme: 'fa',
				 	overwriteInitial:true,
				 	language: 'es',
				 	allowedFileExtensions: ['jpg','jpeg','png','gif'],
				 	showUpload: false,
				 	showCaption: false,  
				 	showUploadedThumbs: false, 
				 	initialPreviewShowDelete:false,
				 	removeIcon:false,
				 	showPreview: true,
				 	dropZoneEnabled: false,
				 	maxFileCount: 10,
				 	mainClass: "input-group-lg col-md-12",
				 	multiple:true,
				 	initialPreviewConfig: initialPreviewImageConfig
				 });


		});
	},
	methods: {
		esconderFotoPerfil: function(event){
			this.changeFotoPerfil=false;
		}
	}
}
</script>
