<table>
    <thead>
        <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Código</th>
           <th>Descripción</th>
           <th>Categorias</th>
           <th>Tarifas</th>
           <th>Fecha Creación</th>
           <th>Estado</th>
       </tr>
   </thead>
   <tbody>
        <tr>
        <td>9</td>
        <td>XXXXXX</td>
        <td>XXXXXX</td>
        <td>XXXXXXXX</td>
        <td>
                            <img src="producto/9/9_2021_03_23_10_42_35_107016.jpg" width="100px"  height="100px">
                    </td>
        <td>
                            1
                            2
                    </td>
        <td height="300px">
                            Tarifa # 0 <br> 
                - Desde: 2021-03-29  <br>
                - Hasta: 2021-03-07 <br> 
                - Precio:  € 14585 <br><br>
                            Tarifa # 1 <br> 
                - Desde: 2021-03-23  <br>
                - Hasta: 2021-03-27 <br> 
                - Precio:  € 123456 <br><br>
                    </td>
        <td>
            2021-03-23   
        </td>
        <td>
            Activo   
        </td>
    </tr>
        <tr>
        <td>10</td>
        <td>Nombre</td>
        <td>234v</td>
        <td>4343434343</td>
        <td>
                            <img src="producto/10/10_2021_03_24_01_16_32_228887.jpg" width="100px"  height="100px">
                    </td>
        <td>
                            2
                    </td>
        <td height="300px">
                            Tarifa # 0 <br> 
                - Desde: 2021-03-19  <br>
                - Hasta: 2021-03-27 <br> 
                - Precio:  € 14585 <br><br>
                    </td>
        <td>
            2021-03-24   
        </td>
        <td>
            Activo   
        </td>
    </tr>
    </tbody>
</table>