<template>
	<div class="container">

		<form method="POST" action='calendario' id="form" enctype="multipart/form-data" files="true">
			<!-- Modal -->
			<div class="modal fade" id="modalCalendarioCreate" tabindex="-1" role="dialog" aria-labelledby="modalCalendarioCreateLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalCalendarioCreateLabel"><i class="fa fa-plus"></i> Agregar Agenda</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" >
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />

							<div class="form-group row">
								<label for="producto_id" class="col-md-4 col-form-label text-md-right">Producto <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<select id="producto_id" type="text" class="form-control sl_2_modal_create" name="producto_id" autocomplete="false" autofocus v-model="producto_id" required>
										<option value=""></option>
										<option v-for="(producto) in productos_options" v-bind:value="producto.id">{{producto.nombre}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="unidades" class="col-md-4 col-form-label text-md-right">Unidades <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="unidades" type="number" v-model="unidades" class="form-control" required name="unidades" value="" autocomplete="false" autofocus>
								</div>
							</div>

							<div class="form-group row"  >
								<label for="fecha" class="col-md-4 col-form-label text-md-right">Fecha <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<datetime type="date" required v-model="fecha" v-bind:id="'fecha'" v-bind:name="'fecha'"  input-class="form-control " hidden-name="fecha" id="fecha"></datetime>
								</div>
							</div>
							<div class="form-group text-danger" v-if="encontro_tarifa_en_rango_fecha==false && cambio_select">
								<span>No se encontraron tarifas de este producto en esta fecha</span>
							</div>
							<div class="form-group row">
								<label for="total_pagar" class="col-md-4 col-form-label text-md-right">Total a Pagar €<span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="total_pagar" type="text" v-model="total_pagar" class="form-control" required name="total_pagar" value="" autocomplete="false" readonly autofocus>
								</div>
							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Crear</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
import { Datetime } from 'vue-datetime';


export default {
	mounted() {
		var vm = this;
		//Select 2 Callback Selected
		$("#producto_id").on("select2:select",function(e){
			vm.setPrecioTotal(e.target.value);
			vm.producto_id=e.target.value;
		});

	},
	components: {
		datetime: Datetime,
	},
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			productos_options: this.productos,
			fecha: '',
			producto_id: '',
			unidades:1,
			valor_unidad: 0,
			total_pagar:'',
			cambio_select:false,
			encontro_tarifa_en_rango_fecha:false,
		}
	},
	props : ['productos'],
	created: function () {
		Event.$on('modalCalendarioCreate', (date,producto_id) => {
			this.total_pagar='';
			this.unidades=1;
			this.fecha=(date)?moment(date).toISOString():''; 
			this.cambio_select=false;
			console.log(this.fecha);
			this.producto_id = null;
			$('#producto_id').val('').trigger('change');
			if(producto_id){
				this.producto_id=producto_id;
				$('#producto_id').val(producto_id).trigger('change');
				this.setPrecioTotal(producto_id);
			}
		});
	},
	methods: {
		setPrecioTotal: function(producto_id){
			this.cambio_select=true;
			var vm = this;
			this.encontro_tarifa_en_rango_fecha=false;
			this.productos.filter(function(p){
				if(p.id == producto_id){
					for (var i = 0; i < p.tarifas.length; i++) {
						if(moment(vm.fecha) >= moment(p.tarifas[i].fecha_inicio) && moment(vm.fecha) <= moment(p.tarifas[i].fecha_fin)) {
							vm.valor_unidad = p.tarifas[i].precio;
							vm.total_pagar = p.tarifas[i].precio  * vm.unidades;
							vm.encontro_tarifa_en_rango_fecha=true;
						}
					}
				}	
			})	
			if(!this.encontro_tarifa_en_rango_fecha){
				this.valor_unidad = 0;
				this.total_pagar = '';
			}
		}
	}
}
</script>
