<template>
	<div class="container">

		<form method="POST" v-bind:action='"calendario/"+agenda.id' id="form_edit" enctype="multipart/form-data" files="true">
			<!-- Modal -->
			<div class="modal fade" id="modalCalendarioEdit" tabindex="-1" role="dialog" aria-labelledby="modalCalendarioEditLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalCalendarioEditLabel"><i class="fa fa-edit"></i> Editar Agenda</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" >
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />

							
							<!-- Inputs necesarios edición -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />
							<input type="hidden" name="_method" value="PUT">


							<div class="form-group row">
								<label for="producto_id" class="col-md-4 col-form-label text-md-right">Producto <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<select id="producto_id_edit" type="text" class="form-control sl_2_modal_edit" name="producto_id" autocomplete="false" autofocus v-model="producto_id" required>
										<option value=""></option>
										<option v-for="(producto) in productos_options" v-bind:value="producto.id">{{producto.nombre}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="unidades" class="col-md-4 col-form-label text-md-right">Unidades <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="unidades" type="number" v-model="unidades" class="form-control" required name="unidades" value="" autocomplete="false" autofocus>
								</div>
							</div>

							<div class="form-group row"  >
								<label for="fecha" class="col-md-4 col-form-label text-md-right">Fecha <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<datetime type="date" required v-model="fecha" v-bind:id="'fecha'" v-bind:name="'fecha'"  input-class="form-control " hidden-name="fecha" id="fecha"></datetime>
								</div>
							</div>
							<div class="form-group text-danger" v-if="encontro_tarifa_en_rango_fecha==false && cambio_select">
								<span>No se encontraron tarifas de este producto en esta fecha</span>
							</div>
							<div class="form-group row">
								<label for="total_pagar" class="col-md-4 col-form-label text-md-right">Total a Pagar €<span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="total_pagar" type="text" v-model="total_pagar" class="form-control" required name="total_pagar" value="" autocomplete="false" readonly autofocus>
								</div>
							</div>


						</div>
						<div class="modal-footer">
							<button v-on:click="eliminarCita(agenda.id)" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-delete"></i> Eiminar</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Editar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
import { Datetime } from 'vue-datetime';


export default {
	mounted() {
		var vm = this;
		//Select 2 Callback Selected
		$("#producto_id_edit").on("select2:select",function(e){
			vm.setPrecioTotal(e.target.value);
		});

	},
	components: {
		datetime: Datetime,
	},
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			productos_options: this.productos,
			fecha: '',
			producto_id: '',
			unidades:1,
			valor_unidad: 0,
			total_pagar:'',
			cambio_select:false,
			encontro_tarifa_en_rango_fecha:false,
			agenda:{id:''},
		}
	},
	props : ['productos'],
	created: function () {
		Event.$on('modalCalendarioEdit', (agenda) => {
			this.agenda=agenda;
			this.total_pagar=agenda.total_pagar;
			this.unidades=agenda.unidades;
			this.fecha=(agenda.fecha)?moment(agenda.fecha).toISOString():'';
			this.cambio_select=false;
			this.producto_id=agenda.producto_id;
			$('#producto_id_edit').val(agenda.producto_id).trigger('change');
			this.setPrecioTotal(agenda.producto_id);
		});
	},
	methods: {
		setPrecioTotal: function(producto_id){
			this.cambio_select=true;
			var vm = this;
			this.encontro_tarifa_en_rango_fecha=false;
			this.productos.filter(function(p){
				if(p.id == producto_id){
					for (var i = 0; i < p.tarifas.length; i++) {
						console.log(moment(vm.fecha)+' >= '+moment(p.tarifas[i].fecha_inicio)+' && '+moment(vm.fecha)+' <= '+moment(p.tarifas[i].fecha_fin));
						console.log(moment(vm.fecha) >= moment(p.tarifas[i].fecha_inicio) && moment(vm.fecha) <= moment(p.tarifas[i].fecha_fin));

						if(moment(vm.fecha).format('YYYY-mm-dd') >= moment(p.tarifas[i].fecha_inicio).format('YYYY-mm-dd') && moment(vm.fecha).format('YYYY-mm-dd') <= moment(p.tarifas[i].fecha_fin).format('YYYY-mm-dd')) {
							vm.valor_unidad = p.tarifas[i].precio;
							vm.total_pagar = p.tarifas[i].precio  * vm.unidades;
							vm.encontro_tarifa_en_rango_fecha=true;
						}
					}
				}	
			})	
			if(!this.encontro_tarifa_en_rango_fecha){
				this.valor_unidad = 0;
				this.total_pagar = '';
			}
		},
		eliminarCita: function (id_cita) {
			// The view model.
			var vm = this;
			// Pregunto si desea eliminar el registro
			Swal.fire({
				title:'Éstas seguro de eliminar esta Agenda?',
				text:'',
				icon:'warning',
				showCancelButton: true,
			}).then(function(result) {
				if(result.value){
	        		// Realizo llamada al Backend para que me elimine esta cita
	        		axios.delete('/calendario/' + id_cita)
	        		.then(response => {
						// Muestro mensaje de confirmación
						Swal.fire({
							title: response.data['message'],
							text:'',
							icon:'success',
							showCancelButton: false,
						}).then(function(){
							window.location.reload();
						});
					});
	        	}

	        });
		}
	}
}
</script>
