<template>
	<div class="container">
		<nav  aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-info">
				<li class="breadcrumb-item" ><a href="/home"><i class="fa fa-home"></i> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page"><i class="fa fa-calendar"></i> Calendario </li>
			</ol>
		</nav>
		<producto-list-card-component  :productos="this.productos" :asset_url_storage="this.asset_url_storage" ></producto-list-card-component>
		<div class="col-md-12 bg-light rounded-lg">
			<h4 style="font-weight: bold;" class="text-black mb-4 mt-4 "><i class="fa fa fa-calendar" aria-hidden="true"></i>  &nbsp;Calendario de Citas</h4>

		    <calendario-modal-create-component  :productos="this.productos" ></calendario-modal-create-component>
		    <calendario-modal-edit-component  :productos="this.productos" ></calendario-modal-edit-component>

			<FullCalendar :options="calendarOptions" />


		</div>
	</div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import esLocale from '@fullcalendar/core/locales/es'

export default {
	mounted() {

		var vm = this;
		var agendas=[];
		this.agendas.filter(function(agenda){
			console.log(agenda);
			agendas.push({ title: ''+agenda.producto.nombre, date: moment(agenda.fecha).format('YYYY-MM-DD'), agenda: agenda });
		})
		this.calendarOptions.events=agendas;

	},
	created(){
	},
	components: {
	    FullCalendar
	},
	data: function () {
		return {
			calendarOptions: {
				customButtons: {
				    butonCrear: {
				      text: 'Crear Nueva',
				      click: function() {
						 $('#modalCalendarioCreate').modal('show');
						 Event.$emit('modalCalendarioCreate',moment().format('YYYY-MM-DD'));
				      }
				    }
				  }, 
				plugins: [ dayGridPlugin, interactionPlugin ],
				initialView: 'dayGridMonth',
				dateClick: function(date, jsEvent, view) { 
					$('#modalCalendarioCreate').modal('show');
					Event.$emit('modalCalendarioCreate',(date.dateStr)?date.dateStr:'');
				},
				eventClick: function(info) {
					$('#modalCalendarioEdit').modal('show');
					Event.$emit('modalCalendarioEdit', info.event.extendedProps.agenda);
				 },
				locale: esLocale,
				themeSystem:'bootstrap',
				headerToolbar: {
					left: "prev,next",
					center: "title",
					right: "today dayGridDay dayGridMonth dayGridWeek butonCrear",
				},
				bootstrapFontAwesome:{  close: 'fa-times',
					prev: 'fa-chevron-left',
					next: 'fa-chevron-right',
					prevYear: 'fa-angle-double-left',
					nextYear: 'fa-angle-double-right'
				},
				events: [
				]
			},
			citas: this.calendario,
		}
	},
	props : ['agendas','productos','asset_url_storage'],
	methods: {

		}
	}
	</script>
