<template>
 <nav class="navbar navbar-expand-md navbar-light bg-primary text-white shadow-sm">
    <div class="container">
        <a class="navbar-brand text-white"  href="/">
            StudioGenesis - Prueba
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span> 
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">

            </ul>

            <ul class="navbar-nav ml-auto" v-if="this.user">
                <li  class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle text-white " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <img :src="url_asset_storage+'/'+this.user.foto_perfil" width="25px" height="25px" class="avatar rounded-circle"></img>

                        {{username}}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right bg-primary" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white" href="/calendario"><i class="fa fa-calendar"></i> Calendario</a>
                        <a class="dropdown-item text-white" href="/categoria-producto"><i class="fa fa-list-alt"></i> Categoría de Productos</a>
                        <a class="dropdown-item text-white" href="/producto"><i class="fa fa-product-hunt"></i> Productos</a>
                        <a class="dropdown-item text-white" href="/user"><i class="fa fa-user-circle"></i> Usuarios</a>
                        <a class="dropdown-item text-white" href="/logout"><i class="fa fa-sign-out"></i> Salir</a>
                    </div>
                </li>
            </ul>
            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto" v-else >
                <!-- Authentication Links -->

                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Login</a>
                </li>
                <li   class="nav-item">
                    <a class="nav-link text-white" href="/register">Registro</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    },
    data() {
        return {
            username: '',
        }
    },
    props : ['user','url_asset_storage'],
    created() {
        this.username=(this.user)?this.user.name+' '+this.user.apellido:"";
    }
}
</script>
