<template>
	<div class="container">


		<h4 style="font-weight: bold;" class="text-black mt-4 "><i class="fa fa-list" aria-hidden="true"></i>  &nbsp;
		Productos y Promociones (Selecciona y Añade al Calendario)</h4>

		<div class="col-md-12 col-sm-12 bg-light rounded-lg ">
			<carousel 

			:perPage="4"
			:navigationEnabled="true"
			:autoplay="true"
			:paginationEnabled="false"
			:loop="true"
			:scrollPerPage="true"
			:centerMode="true"
			:paginationSize="5"
			>
			<slide
			v-for="(producto,index) in productos" :key="index">
			<div class="card m-5 rounded" style="width: 250px;">
				<img class="card-img-top" :src="asset_url_storage+'/'+producto.imagenes[0].url_imagen" width="100%" height="150px" alt="Card image cap">
				<div class="card-footer bg-white">
					<div class="col-md-12 row">
						<div class="col-md-12">
							<h5 class="card-title">{{producto.nombre}}  </h5>
						</div>
						<div class="col-md-12">
							<a class="text-muted"> Valor: € {{producto.tarifas[0].precio}}</a>
							<p class="text-muted">Hasta: {{producto.tarifas[0].fecha_fin | formatDate}}</p>
						</div>
						<div class="col-md-12"><button type="button" class="btn btn-primary  btn-lg btn-block" data-toggle="modal" data-target="#modalCalendarioCreate" v-on:click="agregarAlCalendario(producto)">Agregar</button></div>
					</div>
				</div>
			</div>
		</slide>
	</carousel>



</div>
</div>
</template>


<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
	mounted() {

	},
	created(){
	},
	components: {
		Carousel,
		Slide
	},
	data: function () {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			carusel_options: [

			]
		}
	},
	props : ['productos','asset_url_storage'],
	methods: {
		agregarAlCalendario: function (producto) {
			Event.$emit('modalCalendarioCreate',producto.tarifas[0].fecha_fin,producto.id);
		},
	}
}
</script>
