<template>
	<div class="container">

		<form method="POST" v-bind:action='"producto/"+producto.id' id="form_edit_product" enctype="multipart/form-data" files="true">
			<!-- Modal -->
			<div class="modal fade" id="modalProductoEdit" tabindex="-1" role="dialog" aria-labelledby="modalProductoEditLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalProductoEditLabel"><i class="fa fa-edit"></i> Editar Producto</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" >
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />
							<input type="hidden" name="_method" value="PUT">

							<div class="form-group row">
								<label for="nombre" class="col-md-3 col-form-label text-md-right">Nombre  <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<input id="nombre" type="text" required class="form-control" name="nombre" value="" required autocomplete="nombre" v-bind:value="producto.nombre" autofocus>
								</div>
							</div>

							<div class="form-group row">
								<label for="codigo" class="col-md-3 col-form-label text-md-right">Código  <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<input id="codigo" type="text" class="form-control" required name="codigo" value="" autocomplete="false" v-bind:value="producto.codigo" autofocus>
								</div>
							</div>


							<div class="form-group row">
								<label for="categorias_edicion" class="col-md-3 col-form-label text-md-right">Categorias <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<select id="categorias_edicion" type="text" class="form-control sl_2_modal_multiple_modal_edit" name="categorias_edicion[]" value="" autocomplete="false" ref="categorias_edicion" autofocus required>
										<option v-for="(categoria) in categorias_options" :selected="(categorias_selected_id).indexOf(categoria.id) !== -1" v-bind:value="categoria.id">{{categoria.nombre}}</option>
									</select>
								</div>
							</div>


							<div class="form-group row">
								<label for="descripcion" class="col-md-3 col-form-label text-md-right">Descripción  <span class="text-danger">(*)</span></label>

								<div class="col-md-8">
									<textarea name="descripcion" v-bind:value="producto.descripcion" rows="5" autofocus class="form-control" cols="30"></textarea>
								</div>
							</div>

							<div class="form-group row">

								<label for="categorias" class="col-md-12 col-form-label text-md-center">Tarifas <span class="text-danger">(*)</span></label>   
							</div>

							<producto-tarifa-section-component :type="'edit'"  ></producto-tarifa-section-component>


							<label for="categorias[]" class="col-md-12 col-form-label text-md-center">Imagenes <span class="text-danger">(*)</span></label>

							<div class="form-group row">
								<div class="col-md-12 text-center">
									<div class="file-loading">
										<input id="imagenes" type="file" class="form-control input_adjundtar_archivo_editar" name="imagenes[]" autocomplete="false" accept="image/*" autofocus multiple >
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Guardar Cambios</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>


<script>
export default {
	mounted() {
	},	
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			categorias_options: this.categorias,
			tarifas: [],
			producto: {id : '',nombre : '' ,codigo : '' ,descripcion: '',tarifas:[],categorias:[],imagenes:[]},
			categorias_selected_id: [],
		}
	},
	props : ['categorias','asset_url_storage'],
	created: function () {
		Event.$on('editProductoModal', (producto) => {
				// Guardo el producto que voy a editar
				this.producto = producto;

				Event.$emit('showDataTarifa',producto.tarifas);

				var vm = this;
				producto.categorias.filter(function (categoria_product)  {
					vm.categorias_selected_id.push(categoria_product.categoria_id);
				});
				// Seteo las categorias seleccionadas
				$('#categorias_edicion').val(this.categorias_selected_id).trigger('change');

				// Imagenes Configuraciones
	            var initialPreviewImage=[];
	            var initialPreviewImageConfig=[];
	            producto.imagenes.filter(function(imagen)  {
	            	initialPreviewImage.push("<img src='"+vm.asset_url_storage+'/'+imagen.url_imagen+"' width='150px' height='150px' class='file-preview-image' alt='dsa' title=''>");
	            	initialPreviewImageConfig.push({  
	            		caption: '',
	            		width: '150px',
	            		url: 'delete-image-producto',
	            		key: imagen.id,
	            		extra: {id: imagen.id } 
	            	});
	            });


	            $('.input_adjundtar_archivo_editar').fileinput('destroy');

				 // Plugin Fileinput Inicialization
				 $('.input_adjundtar_archivo_editar').fileinput({
				 	initialPreview: initialPreviewImage,
				 	theme: 'fa',
				 	initialPreviewShowDelete: false,
				 	overwriteInitial:false,
				 	language: 'es',
				 	allowedFileExtensions: ['jpg','jpeg','png','gif'],
				 	showUpload: false,
				 	showCaption: false,  
				 	showUploadedThumbs: false, 
				 	showRemove: true,
				 	showPreview: true,
				 	dropZoneEnabled: false,
				 	maxFileCount: 10,
				 	mainClass: "input-group-lg col-md-12",
				 	multiple:true,
				 	initialPreviewConfig: initialPreviewImageConfig
				 });

		});

		},
		methods: {

		}
	}
	</script>
