<template>
	<div class="container">
		<div class="card mb-3" v-for="(tarifa,index) in this.tarifas_array">
			<div class="card-header bg-primary text-white">
				<div class="form-group row m-1">
					<div class="col-md-8">
						<div class="text-left">
							Tarifa # {{index+1}}
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-right">
							<button type="button" class="btn btn-sm btn-success rounded-circle " v-on:click="addTarifa()"><i class="fa fa-plus"></i></button>
							<button type="button" class="btn btn-sm btn-danger rounded-circle " v-if="index!=0" v-on:click="deleteTarifa(index)"><i class="fa fa-trash"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<input type="hidden" name="id_tarifa_producto[]" v-model="tarifa.id">
				<div class="form-group col"  >
					<div class="form-group row"  >
						<label for="fecha_inicio_" class="col-md-4 col-form-label text-md-right">Fecha Inicio</label>
						<div class="col-md-8">
							<datetime type="date" required v-model="tarifa.fecha_inicio" :key="'datetime_fecha_inicio_'+tarifa.id" input-class="form-control" v-bind:id="'fecha_inicio_'+type+'_'+index" hidden-name="fecha_inicio[]"></datetime>
						</div>
					</div>
				</div>
				<div class="form-group row"  >
					<label for="fecha_fin[]" class="col-md-4 col-form-label text-md-right">Fecha Fin</label>

					<div class="col-md-8">
						<datetime type="date" required  v-bind:id="'fecha_fin_'+type+'_'+index" v-model="tarifa.fecha_fin" input-class="form-control" hidden-name="fecha_fin[]" id="fecha_fin"></datetime>
					</div>
				</div>
				<div class="form-group row"  >
					<label for="precio_" class="col-md-4 col-form-label text-md-right">Precio €</label>

					<div class="col-md-8">
						<input v-bind:id="	'precio_'+type+'_'+index" v-model="tarifa.precio" type="number" class="form-control" required="required" v-bind:name="'precio[]'" autocomplete="false" autofocus/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { Datetime } from 'vue-datetime';

export default {
	mounted() {
	},
	components: {
		datetime: Datetime,
	},
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			tarifas_array : [],
		}
	},
	props : ['type'],
	created: function () {
		Event.$on('showDataTarifa', (tarifas) => {
			this.tarifas_array = tarifas.filter(function (tarifa){ 
					var new_tarifa = tarifa; 
					new_tarifa.fecha_inicio = (new_tarifa.fecha_inicio)?moment(new_tarifa.fecha_inicio).add(10,'hours').toISOString():''; 
					new_tarifa.fecha_fin = (new_tarifa.fecha_fin)?moment(new_tarifa.fecha_fin).add(10,'hours').toISOString():''; 
				return  new_tarifa;
			})
		});
	},
	methods: {
		addTarifa: function(){
			this.tarifas_array.push({id:null,precio:null,fecha_inicio: moment().add(10,'hours').toISOString(),fecha_fin:moment().add(10,'hours').toISOString()});
		},
		deleteTarifa: function(index){
			this.tarifas_array.splice(index,1);
		}
	}
}
</script>
