<template>
	<div class="container">

		<form method="POST" action='producto' id="form" enctype="multipart/form-data" files="true">
			<!-- Modal -->
			<div class="modal fade" id="modalProductoCreate" tabindex="-1" role="dialog" aria-labelledby="modalProductoCreateLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="modalProductoCreateLabel"><i class="fa fa-plus"></i> Nuevo Producto</h5>
							<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" >
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- Inputs necesarios -->
							<input type="hidden" name="_token" v-bind:value="csrf_token" />

							<div class="form-group row">
								<label for="nombre" class="col-md-4 col-form-label text-md-right">Nombre  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="nombre" type="text" required class="form-control" name="nombre" value="" required autocomplete="nombre" autofocus>
								</div>
							</div>

							<div class="form-group row">
								<label for="codigo" class="col-md-4 col-form-label text-md-right">Código  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<input id="codigo" type="text" class="form-control" required name="codigo" value="" autocomplete="false" autofocus>
								</div>
							</div>


							<div class="form-group row">
								<label for="categorias" class="col-md-4 col-form-label text-md-right">Categorias <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<select id="categorias" type="text" class="form-control sl_2_modal_multiple_modal_create" name="categorias[]" value="" autocomplete="false" autofocus required>
										<option v-for="(categoria) in categorias_options" v-bind:value="categoria.id">{{categoria.nombre}}</option>
									</select>
								</div>
							</div>


							<div class="form-group row">
								<label for="descripcion" class="col-md-4 col-form-label text-md-right">Descripción  <span class="text-danger">(*)</span></label>

								<div class="col-md-6">
									<textarea name="descripcion" rows="5" required autofocus class="form-control" cols="30"></textarea>
								</div>
							</div>

							<div class="form-group row">
								
								<label for="categorias" class="col-md-12 col-form-label text-md-center">Tarifas <span class="text-danger">(*)</span></label>   
							</div>

							<producto-tarifa-section-component :type="'create'"></producto-tarifa-section-component>


							<label for="categorias[]" class="col-md-12 col-form-label text-md-center">Imagenes <span class="text-danger">(*)</span></label>

							<div class="form-group row">
								<div class="col-md-12 text-center">
									<div class="file-loading">
										<input id="imagenes" type="file" class="form-control input_adjundtar_archivo" name="imagenes[]" autocomplete="false" accept="image/*" required autofocus multiple >
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
							<button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Crear</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	mounted() {
	},
	data() {
		return {
			csrf_token: $('meta[name="csrf-token"]').attr('content'),
			categorias_options: this.categorias,
			tarifa_item: [{id:'',precio:'',fecha_inicio:'',fecha_fin:''}],
		}
	},
	props : ['categorias'],
	created: function () {
		Event.$on('createProductoModal', (producto) => {
			this.setTarifasModalCreateProduct();
		})
	},
	methods: {
		setTarifasModalCreateProduct: function() {
			console.log('Entre aqui');
			Event.$emit('showDataTarifa',this.tarifa_item);
		}
	}
}
</script>
