<template>

	<div class="container">
		<nav  aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-info">
				<li class="breadcrumb-item" ><a href="/home"><i class="fa fa-home"></i> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page"><i class="fa fa fa-product-hunt"></i> Mis Productos </li>
			</ol>
		</nav>
		<div class="col-md-12 bg-light rounded-lg">

			<h4 style="font-weight: bold;" class="text-black mb-4 mt-4 "><i class="fa fa fa-product-hunt" aria-hidden="true"></i>  &nbsp;Listado de Productos</h4>


			<div class="card mb-3">
					<div class="card-header text-white">
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProductoCreate" v-on:click="setTarifasModalCreateProduct()" ><i class="fa fa-plus-circle" v-on></i> Nuevo </button>

							<a href="/producto-export" class="btn btn-success"  ><i class="fa fa-file-excel-o"></i> Exportar Excel</a>
							<a href="/producto-export-pdf" class="btn btn-danger"  ><i class="fa fa-file-pdf-o"></i> Exportar Pdf</a>
						</div>
					</div>
					<div class="card-body">
						<div class="col-md-12">                    		
							<table class="table table-striped no-footer" style="width:100%" id="datatable" ref="datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nombre</th>
										<th>Código</th>
										<th>Imagenes</th>
										<th>Categorías</th>
										<th >Tarifas</th>
										<th>Descripción</th>
										<th>Acciones</th>
									</tr>					
								</thead>
								<tbody>	
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script>

	import datatables from 'datatables';

	export default {
		mounted() {
			this.datatableRender();
		},
		created(){
		},
		data: function () {
			return {
				csrf_token: $('meta[name="csrf-token"]').attr('content'),
				table: '',
				tarifa_item: [{id:'',precio:'',fecha_inicio:'',fecha_fin:''}],
				columns : [
					{'data':'id','name':'id'},
					{'data':'nombre','name':'nombre'},
					{'data':'codigo','name':'codigo'},
					{'data':'imagenes','name': 'imagenes','orderable':false,'searchable':false},
					{'data':'categorias','name': 'categorias','orderable':false,'searchable':false},
					{'data':'tarifas','width':'300px', 'name': 'tarifas','orderable':false,'searchable':false},
					{'data':'descripcion','name':'descripcion'},
					{'data':null,'name':'acciones','orderable':false,'searchable':false,
						render: (producto) => {
							return '<button type="button" class="btn btn-success button_edit_product" data-toggle="modal" data-target="#modalProductoEdit" id="button_edit_product_'+producto['id']+'"><i class="fa fa-edit"></i> </button><button type="button" class="btn btn-danger button_delete_product" id="button_delete_product_'+producto['id']+'" ><i class="fa fa-trash"></i> </button>';
                		}
                	}
				]
			}
		},
		props : ['productos'],
		methods: {
			datatableRender() {
				// Renderizo Datatable
				this.table = $('#datatable').DataTable({
					search: true,
					scrollX:true,
					scrollY:true,
					searchable:true,
					searching: true,
					language: language_datatable,
					autoWidth: true,
					processing: true,
					serverSide: true,
					search: true,
					ordering: true,
					columns:this.columns,
					ajax: {
						url: '/producto-datatable',
						headers: {'X-CSRF-TOKEN': this.csrf_token},
						method: 'POST',
					},
				});

				var vm=this;
				// Callback para editar producto
			 	$('tbody').on('click', '.button_edit_product', function(obj){
			 		var id_split = (obj.currentTarget.id).split('_');
			 		var item_a_editar = vm.productos.filter(function (product)  {
					  return product.id == id_split[3];
					});
			 		vm.editarProducto(item_a_editar[0]);
			    });

				// Callback para eliminar producto
			   	$('tbody').on('click', '.button_delete_product', function(obj){
			 		var id_split = (obj.currentTarget.id).split('_');
			 		vm.eliminarProducto(id_split[3]);
			    });

			},
			eliminarProducto: function (id_producto) {
				var vm=this;
				// Pregunto si desea eliminar el registro
				Swal.fire({
					title:'Éstas seguro de eliminar este Producto?',
					text:'',
					icon:'warning',
					showCancelButton: true,
				}).then(function(result) {
					if(result.value){
		        		// Realizo llamada al Backend para que me elimine este producto
		        		axios.delete('/producto/' + id_producto)
		        		.then(response => {
							// Muestro mensaje de confirmación
							Swal.fire({
								title: response.data['message'],
								text:'',
								icon:'success',
								showCancelButton: false,
							}).then(function(response){
								vm.table.ajax.reload();
							});
						});
					}
					
				});
			},
			editarProducto: function (producto) {
				// Abre Modal de Edición Productos con la información del producto a editar
				Event.$emit('editProductoModal', producto);
			},
			setTarifasModalCreateProduct: function() {
				Event.$emit('createProductoModal');
			}
		}
	}
	</script>
